@font-face {
    font-family: 'stonage';
    src: url('font/stonehenge/stonehen.ttf');
}
@font-face {
    font-family: 'letsgo';
    src: url('font/letsgo_2/LetsgoRegular.ttf');
}
*{
    background-color: #e7e9e0;
    
}
.fa-home{
    color: #536600;
    text-decoration: none;
    margin-top: 2px;
    position: absolute;
}