html{
    background-color: #dae0bb;
}
    @font-face {
    font-family: 'stonage';
    src: url('font/stonehenge/stonehen.ttf');
}
@font-face {
    font-family: 'letsgo';
    src: url('font/letsgo_2/LetsgoRegular.ttf');
}
#cx{
    width: 300px;
    height: 225px;
    background-color: #c1cc91;
    border-radius: 25px;
    margin-left: 500px;
    margin-top: 200px;
    
	border:1px solid #2d3701;
}
#cx p span{
    font-family: 'Lora', serif;
    font-size: 20px;
}

#cx{
    text-align: center;
}

#cx h1{
    font-family: 'letsgo';
	color:#536600;
    padding-top: 10px;
}

.myButton {
	background-color:#b6c47c;
	border-radius:28px;
	border:1px solid #2d3701;
	display:inline-block;
	cursor:pointer;
	color:#536600;
	font-family:'letsgo';
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2d3701;
}
.myButton:hover {
	background-color:#c1cc91;
}
.myButton:active {
	position:relative;
	top:1px;
}
