*{
    background-color: #D9E1B7;
}
.voltar a{
    color: #536600;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 1%;
  }
#cad span{
    background-color: #bbc493;
}
#cad{
    background-color: #bbc493;
    width: 300px;
    height: 500px;
    margin-left: 500px;
    border-radius: 25px;
    margin-top: 30px;
}

label, input, select{
    margin-left: 75px;
    text-align: center;
    margin-top: 5px;
}
input, select{
    background-color:  #bbc493;
    border: none;
    border-bottom: 1px solid #536600;
    font-family: 'Lora', serif;
}
#cadastrar{
    width: 50%;
    margin-left: 70px;
    height: 20px;
    background-color: #97a363;
    border: none;
    border-radius: 25px;
}
label{
    font-family: 'Lora', serif;
}