*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'stonage';
    src: url('font/stonehenge/stonehen.ttf');
}
@font-face {
    font-family: 'letsgo';
    src: url('font/letsgo_2/LetsgoRegular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Playfair+Display:ital,wght@0,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,200;1,300&display=swap');
  .lembrete{font-family: 'Cormorant Infant', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;}

header{
width: 100%;
height: 150px;    
display: block;
float: left;
background-color: #D9E1B7;
}
#logo img{
    width: 150px;
    height: 150px;
    float: left;
}
#name h1{
    font-family: 'letsgo';
    position: absolute;
    margin-left: 500px;
    margin-top: 40px;
    color: #536600;
    float: left;
    font-size: 50px;
}
#icons a{
    color: #536600;
    text-decoration: none;
    padding: 15px;
    
}
#icons{
    margin-left: 1050px;
    margin-top: 20px;
}


nav{
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: #44c767;
}

main{
    width: 80%;
    height: 530px;
    display: block;
    float: left;
    background-color: white;
    margin-top: 20px;
}

aside{
    height: 530px;
    width: 20%;
    float: left;
    background-color: #B6C47C;
    display: block;
    padding-top: 30px;
}

h2{
    color: white;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

p{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    color: #F5FFCE;
}

#horarios{
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

#servicos{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.div-slider{ 
    width: auto; 
    height: 400px; 
    text-align: center; 
    } 

    .slides-front { 
        padding: 0; 
        width: 980px; 
        height: 370px; 
        display: block; 
        margin: auto; 
        position: relative; 
    } 
    .slides-front * { 
        user-select: none; 
        -ms-user-select: none; 
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -webkit-touch-callout: none; 
    } 
    .slides-front input { display: none; } 
    .slide-container { display: block; } 

    .slide { 
        top: 0; 
        opacity: 0; 
        width: 980px; 
        height: 370px; 
        display: block; 
        position: absolute; 
        transform: scale(0); 
        transition: all .7s ease-in-out 0.1s; 
    } 

    .slide img { 
        width: 600px; 
        height: 400px; 
    } 

    .nav label { 
        width: 150px; 
        height: 100%; 
        display: none; 
        position: absolute; 
        opacity: 0; 
        z-index: 9; 
        cursor: pointer; 
        transition: opacity .2s; 
        color: #FFF; 
        font-size: 156pt; 
        text-align: center; 
        line-height: 380px; 
        font-family: "Varela Round", sans-serif; 
        background-color: rgba(255, 255, 255, .3); 
        text-shadow: 0px 0px 15px rgb(119, 119, 119); 
    } 

    .slide:hover + .nav label { opacity: 0.5; } 
    .nav label:hover { opacity: 1; } 
    .nav .next { right: 0; }

    input:checked + .slide-container  .slide { 
        opacity: 1; 
        transform: scale(1); 
        transition: opacity 1s ease-in-out 0.1s; 
    } 

    input:checked + .slide-container .nav label { display: block; } 

    .nav-dots { 
        width: 100%; 
        bottom: 9px; 
        height: 11px; 
        display: block; 
        position: relative; 
        text-align: center; 
    } 

    .nav-dots .nav-dot {
        top: 375px;
        width: 11px;
        height: 11px; 
        margin: 0 4px; 
        position: relative; 
        border-radius: 100%; 
        display: inline-block; 
        background-color: white; 
    }

    .nav-dots .nav-dot:hover { 
        cursor: pointer; 
        background-color: white; 
    } 

    input#img-1:checked ~ .nav-dots label#img-dot-1, 
    input#img-2:checked ~ .nav-dots label#img-dot-2, 
    input#img-3:checked ~ .nav-dots label#img-dot-3{ 
        background: white;
    } 

.myButton {
background-color:#44c767;
border-radius:28px;
border:1px solid #4be85a;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family: 'Cormorant Infant', serif;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #74d465;
margin-top: 60px;
margin-left: 60px;
margin-bottom: 20px;

}

.myButton:hover {
background-color:#a2eb7b;

}

.myButton:active {
position:relative;
top:1px;
}
footer{
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: #447044;
}

footer a{
list-style-type: none;
font-family: 'Cormorant Infant', serif;
margin-left: 20px;
margin-top: 30px;
color: white;
}

footer p{
    margin-left: 20px;
    color: white;
}
