*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'stonage';
    src: url('font/stonehenge/stonehen.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');
/* font-family: 'Cormorant Infant', serif; */

header{
width: 100%;
height: 170px;    
display: block;
float: left;
background-color: #4be85a;
}

nav{
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: #44c767;
}

article{
    width: 100%;
    height: 940px;
    display: block;
    float: left;
    background-color: #74d465;
}

footer{
    width: 100%;
    height: 270px;
    display: block;
    float: left;
    background-color: #206326;
}

.myButton {
background-color:#44c767;
border-radius:28px;
border:1px solid #4be85a;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family: 'Cormorant Infant', serif;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #74d465;
margin-top: 60px;
margin-left: 60px;
margin-bottom: 20px;

}

.myButton:hover {
background-color:#a2eb7b;

}

.myButton:active {
position:relative;
top:1px;
}


footer a{
list-style-type: none;
font-family: 'Cormorant Infant', serif;
margin-left: 20px;
margin-top: 30px;
color: white;
}

footer p{
    margin-left: 20px;
    color: white;
}
